<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PIM_Mini_Tests_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <PIM_Mini_Tests_WPF.Properties.Settings>
      <setting name="eepromPortNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromPageSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromSlaveAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromBitrate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromNumPages" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="loggingLocation" serializeAs="String">
        <value>PIM_Mini_Tests.log</value>
      </setting>
    </PIM_Mini_Tests_WPF.Properties.Settings>
  </userSettings>
</configuration>