<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PIM_Mini_Tests_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <PIM_Mini_Tests_WPF.Properties.Settings>
      <setting name="eepromPortNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromPageSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromSlaveAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromBitrate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="eepromNumPages" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="loggingLocation" serializeAs="String">
        <value>PIM_Mini_Tests.log</value>
      </setting>
      <setting name="framPortNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="framBitrate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="framInitialAddress" serializeAs="String">
        <value>32768</value>
      </setting>
      <setting name="framNumAddress" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="framPolarity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="framPageSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcPortNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcBitrate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcYearAddr" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcMonthAddr" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcDayOfMonth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcDayOfWeek" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcHours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcMinutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rtcSlaveAddress" serializeAs="String">
        <value>0</value>
      </setting>
    </PIM_Mini_Tests_WPF.Properties.Settings>
  </userSettings>
</configuration>